In [142]:
import pandas as pd
import numpy as np
import math

## NAIVE BAYES (For problem done in class)

In [143]:
data1={"words":['Bass eat super','Bass lunch excellent','Bass ate like','Bass play music','Bass interest play'],"sense":["Fish","Fish","Fish","Music","Music"]}
df1=pd.DataFrame(data1)
df1

                  words  sense
0        Bass eat super   Fish
1  Bass lunch excellent   Fish
2         Bass ate like   Fish
3       Bass play music  Music
4    Bass interest play  Music

In [144]:
def pb(df,classifier):
    cnt=0
    data=df
    data=data[data.sense == classifier]
    return len(data['sense'])/len(df['sense'])

In [145]:
def calculate_v(df):
    ll=df['words']
    l=[]
    l1=[]
    for i in ll:
        l1.append(i.split())
    for i in l1:
        for j in i:
            if j not in l:
                l.append(j)
    return len(l)
v=calculate_v(df1)

In [146]:
p_f=pb(df1,'Fish')
p_m=pb(df1,'Music')

In [147]:
def prob_word(df,classifier,wrd,v):
    dff=df[df.sense==classifier]
    cnt=0
    for word in dff['words']:
        if wrd in word:
               cnt+=1
    return (cnt+1)/(len(dff)+v)

In [148]:
#test_data="line guitar jazz jazz".split()
test_data="Bass super excellent play".split()
test_data

['Bass', 'super', 'excellent', 'play']

In [149]:
def naive_bayes(df1,classifier,test_data):
    prob_test=math.log2(pb(df1,classifier))
    for word in test_data:
        word_pb=math.log2(prob_word(df1,classifier,word,v))
        prob_test=prob_test+word_pb
    return prob_test

In [150]:
pb_m=naive_bayes(df1,'Music',test_data)
pb_f=naive_bayes(df1,'Fish',test_data)
print("Score for p(test_data|Music) : ",pb_m)
print("Score for p(test_data|Fish) : ",pb_f)
if pb_f>pb_m:
    print("Test data comes under Fish classification")
else:
    print("Test data comes under Music classification")

Score for p(test_data|Music) :  -12.491853096329674
Score for p(test_data|Fish) :  -11.538724466730576
Test data comes under Fish classification

## NAIVE BAYES (For Bank dataset)

In [151]:
data=pd.read_excel("Bank.xlsx")
del data["Unnamed: 0"]
data

,Sentences for Training,"Sense of the word ""Bank"""
0,I deposited my paycheck at the bank.,Financial Institution
1,The bank of the river was eroded by the heavy ...,River Border
2,She works at the bank as a teller.,Financial Institution
3,Let's have a picnic by the bank of the river.,River Border
4,The bank approved my loan application.,Financial Institution
...,...,...
96,I need to update my contact information with t...,?
97,The bank provides online banking services for ...,?
98,The beavers constructed a dam along the bank o...,?
99,I need to check my transaction history at the ...,?
100,She works as a financial consultant at the bank.,?

In [152]:
data.columns=["words","sense"]
data=data.fillna('#')

In [153]:
test_df=data[data.sense=='?']
test_df

                                                 words sense
94   The children built a dam on the bank of the ri...     ?
95   We need to withdraw some cash from the bank fo...     ?
96   I need to update my contact information with t...     ?
97   The bank provides online banking services for ...     ?
98   The beavers constructed a dam along the bank o...     ?
99   I need to check my transaction history at the ...     ?
100  She works as a financial consultant at the bank.      ?

In [154]:
training_df=data[data.sense!="?"]
training_df=training_df[training_df.sense!='#']
training_df

                                                words                  sense
0                I deposited my paycheck at the bank.  Financial Institution
1   The bank of the river was eroded by the heavy ...           River Border
2                 She works at the bank as a teller.   Financial Institution
3      Let's have a picnic by the bank of the river.            River Border
4             The bank approved my loan application.   Financial Institution
..                                                ...                    ...
88  The children built sandcastles along the sandy...           River Border
89  The otters played along the grassy bank of the...           River Border
90  The bank of the river was a popular spot for p...           River Border
91  I need to deposit this check into my checking ...  Financial Institution
92  The children skipped stones across the calm ba...           River Border

[93 rows x 2 columns]

In [155]:
v=calculate_v(training_df)

In [156]:
for i in test_df["words"]:
    print("\nFor Test_data : ",i)
    pb_r=naive_bayes(training_df,'River Border',i.split())
    pb_f=naive_bayes(training_df,'Financial Institution',i.split())
    print("\tScore for p(test_data|River Border) : ",pb_r)
    print("\tScore for p(test_data|Financial institution) : ",pb_f)
    if pb_f>pb_r:
        print("\tTest data comes under Financial Institution classification")
    else:
        print("\tTest data comes under River Border classification")

For Test_data :  The children built a dam on the bank of the river using rocks and sticks.
	Score for p(test_data|River Border) :  -74.6146740561893
	Score for p(test_data|Financial institution) :  -94.8532698606802
	Test data comes under River Border classification

For Test_data :  We need to withdraw some cash from the bank for groceries.
	Score for p(test_data|River Border) :  -75.04675017206327
	Score for p(test_data|Financial institution) :  -65.8645264739505
	Test data comes under Financial Institution classification

For Test_data :  I need to update my contact information with the bank.
	Score for p(test_data|River Border) :  -75.17764423891421
	Score for p(test_data|Financial institution) :  -54.16152571345201
	Test data comes under Financial Institution classification

For Test_data :  The bank provides online banking services for convenience.
	Score for p(test_data|River Border) :  -55.6864507283287
	Score for p(test_data|Financial institution) :  -48.220329876806865
	Test data comes under Financial Institution classification

For Test_data :  The beavers constructed a dam along the bank of the river.
	Score for p(test_data|River Border) :  -49.13895041872375
	Score for p(test_data|Financial institution) :  -65.6670087212531
	Test data comes under River Border classification

For Test_data :  I need to check my transaction history at the bank.
	Score for p(test_data|River Border) :  -72.59268173819306
	Score for p(test_data|Financial institution) :  -52.309082901865864
	Test data comes under Financial Institution classification

For Test_data :  She works as a financial consultant at the bank.
	Score for p(test_data|River Border) :  -57.686801194756
	Score for p(test_data|Financial institution) :  -46.60192208457738
	Test data comes under Financial Institution classification